<h1>Editing Referencia Calendari Operacio</h1>

<%= render 'form', referencia_calendari_operacio: @referencia_calendari_operacio %>

<%= link_to 'Show', @referencia_calendari_operacio %> |
<%= link_to 'Back', referencia_calendari_operacions_path %>
