<div class="dark-background-container">
	<div class="row">
		<div class="medium-12 columns">
	    <div class="projectes-external-container">
	      <div class="projectes-title-container">
	        <h2 class="heavy-title"><%= t('.titol') %></h2>
	      </div>
	      <div class="projectes-form-container">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>