// Place all the styles related to the Operacions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.planificacions-menu-list {
	list-style-type: none;
	margin: 0px;
	margin-bottom: 30px;
}

li.planificacions-menu-item {
	display: inline;
	margin-right: 20px;
	font-size: 1em;
	padding-bottom: 6px;
}

li.planificacions-menu-item > a {
	color: #333333;
}

li.item-actiu {
	border-bottom: 2px solid #333333;
}

h3.titol-importacio {
	font-size: 1.3em;
	font-weight: bold;
}

.container-logo-import {
	text-align: center;
	margin: 40px 0px;
}

.logo-import {
	width: 200px;
}

table.manteniment-preventiu {
	border: 1px solid #CCCCCC;
}

table.actuacions_anys {
	border: 1px solid #CCCCCC;
}

td.creu-calendari {
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
}




/* PDF ****************/

.salt-pagina {
	display: block;
	clear: both; 
	page-break-after: always;
}

	table.manteniment-preventiu-pdf {
		border: 1px solid #ccc;
		border-collapse: collapse;
	}

	.header-cell {
		padding: 0px;
		border: 1px solid #ccc;
		padding-left: 5px;
	}

	.body-cell {
		padding: 0px;
		border: 1px solid #ccc;
	}

	.titol-cell {
		padding-left: 5px;
	}

	table.manteniment-preventiu-pdf > thead > tr > th {
		padding: 0px;
		min-height: 18px;

	}

	table.manteniment-preventiu-pdf > tbody > tr > td {
		padding: 0px;
		background-color: red;
		min-height: 18px;
		
	}

	.actuacio-pdf {
		width: 100%;
		height: 20px;
	}

	.primera-actuacio-pdf {
		width: 51%;
		height: 20px;
		float: left;
	}

	.segona-actuacio-pdf {
		width: 50%;
		height: 20px;
		margin-left: 50%;
	}

	.color-responsable-pdf {
		width: 18px;
		height: 18px;
		float: left;
		margin-right: 8px;
	}

	.taula-container {
		page-break-inside: avoid;
	}

	.taula-dades {
		border: none;
		border-bottom: 1px solid #CCCCCC;
		width: 100%;
		margin-bottom: 0px;
	}

	td.dades-cell {
		padding: 0px;
	}

	.taula-dades-final {
		border: none;
		border-bottom: 1px solid #333333;
		width: 100%;
		margin-bottom: 50px;
	}

	.titol-taula {
		font-weight: bold;
		page-break-after: avoid;
	}

	.taula-dos-columnes {
		width: 50%;
	}

/* FINAL PDF **************/




td.existeix {
	padding: 0px;
}

td.no-existeix {
	
}

.primera-actuacio {
	width: 50%;
	height: 40px;
	float: left;
}

.segona-actuacio {
	width: 50%;
	height: 40px;
	float: right;
}

.color-responsable {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 10px;
}