<h1>Editing Referencia Calendari Preventiu</h1>

<%= render 'form', referencia_calendari_preventiu: @referencia_calendari_preventiu %>

<%= link_to 'Show', @referencia_calendari_preventiu %> |
<%= link_to 'Back', referencia_calendari_preventius_path %>
